[submodule "List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words"]
	path = List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words
	url = https://github.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words.git
